init.author.name=micfrenkel
init.author.email=micfrenkel@paypal.com
registry=http://registry.npmjs.org/
# registry=https://npm.paypal.com/
# scope=@paypalcorp
# strict-ssl=false

#npm config set registry http://registry.npmjs.org/
